.board {
    position: fixed;
    top: 0;
    left: 0;
    left: 220px;
    height: calc(100vh - 350px);
    width: calc(100vw - 220px);
    background-color: whitesmoke;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.board-header {
    font-weight: bold;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 400px);
    min-width: 1200px;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.board-header .date-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
}

.board-header .videoId-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
}

.board-header .title-column {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-left: -15px;
}

.board-header .members-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-header .subtitle-column {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-left: -15px;
}


.card {
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
    width: calc(100vw - 400px);
    min-width: 1200px;
    border-radius: 10px;
    background-color: white;
    height: 48px;
    margin: 10px;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card span {
    font-size: 1em;
    font-weight: 400;
    margin: 0 10px;
}

.date-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.videoId-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.title-column {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: left;

}

.members {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    margin: 0 20px;
}

.members span {
    font-size: 12px;
    font-weight: 400;
    margin: 2px 5px;
    padding: 3px 14px;
    color: snow;
    font-weight: bold;
    border-radius: 20px;
}

.members-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 20px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    flex-wrap: wrap;
    width: 400px;
}


#langCode-chip {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    margin: 2px 5px;
    padding: 5px 14px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 30px;
}

.lang-close-icon {
    position: absolute;
    right: 5px;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 18px !important;
    height: 18px !important;
    color: tomato;
    cursor: pointer;
}